{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/SigningBundle/custom.css') }}" />
{% endblock %}

{% block content %}
    <div class="succesFont col-md-offset-1">
        <h1 class="h1_succes">Gratulacje!</br></h1>
        <h2 class="h2_succes">Zarejestrowałeś się w naszej bibliotece!</h2>
    </div>
{% endblock %}