body {
    background: url(../body-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.custom_container {
    padding-right: 0px;
    padding-left: 0px;
    background: #ededed;
    min-height: 1080px;
}

.custom_navbar{	
    margin-bottom: 0px;
    z-index: 9999;
    position: absolute;
    width: 100%;
}

.custom_navbar_top {
    position: fixed;
    top: 0px;
}

.custom_jumbotron {
    margin-bottom: 2px;
}

.custom_content {
	margin: 0px 0px;
}

.custom_form_reg {
	margin-top: 10px;
	margin-left: 8,3333%;
}

.custom_form_reg label {
	text-align: right;
}

.custom_h1_reg {
	margin-left: 16.6667%;
	margin-bottom: 15px;
}

.custom_h3_reg{
	margin-top: 5px;
}

.custom_reg_info {
	border-left: 1px solid gray;
	margin-top: 150px;
	margin-left: 0,83333%;	
}

.custom_contrast{
	padding: 10px;
	background: #FFF none repeat scroll 0% 0%;
	line-height: 1.5em;
	color: #333;
	vertical-align: baseline;
	border-radius: 5px;
	border: 1px solid #B8B7B7;
}