.custom_form_reg {
	margin-top: 10px;
	margin-left: 8,3333%;
}

.custom_form_reg .error {
	border: 1px solid #b94a48!important; 
	background-color: #fee!important; 
}

.custom_form_reg label {
	text-align: right;
}

.custom_h1{
	margin-bottom: 15px;
}

.custom_h3_reg{
	margin-top: 5px;
}

.custom_reg_info {
	border-left: 1px solid gray;
	margin-top: 150px;	
}

.custom_contrast{
	padding: 10px;
	background: #FFF none repeat scroll 0% 0%;
	line-height: 1.5em;
	color: #333;
	vertical-align: baseline;
	border-radius: 5px;
	border: 1px solid #B8B7B7;
}

.succesFont {
	margin-top: 35px;	
}

.h1_succes {
	font-size: 3.2em;
}

.h2_succes {
	font-size: 2.5em;
}

.custom_form_reg ul {
	margin: 0;
	padding: 0;
}

.custom_form_reg ul li {
	color:red;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
	list-style-type: none;	
}

.submit_login_btn {
	float: right;
	margin-top: 15px;
	margin-right: -25px;
}

.remind_login {
	color: black;
}

.remind_login:hover {
	color: white;
}

#passstrength {
    color:red;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
}

.show_h1 {
	border-bottom: 1px solid gray;
}

.bg {
	background: #E7E6E6;
}

@media (max-width: 970px){
    .sbg {
    background: inherit;
    }
}

@media (max-width: 970px){
    .sbg2 {
    background: #E7E6E6;
    }
}

.show_container {
	margin-top: 20px;
	margin-bottom: 15px;
}

.show_row {
	height: 70px;
	line-height: 70px;
	font-size: 18px;	
}

.show_row_title {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 70px;
}

.show_row_title_span {
	color: #333;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	padding: 10px 0px;
	text-align: left;
	white-space: normal;
	vertical-align: baseline;
}

.show_btn {
	display: block;
	float: left;
	margin-left: 10px;
}

.already_login {
	font-size: 2.5em;
}

.btn_padding  {
	padding-left: 10px;
}

@media (max-width: 750px){
    .btn_padding {
    padding-left: 0px;
    }
}